<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
<meta charset="UTF-8" />
<title>CF Soluções SST</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">
</head>

    <body>
        <!--Barra de título-->
    <header class="text-container">
        <!--abaixo link da fonte pokémon personalizada-->
        <a class="title">
            <h1>CF Soluções SST</h1>
        </a>
    </header>
            

        <footer><!--instagram da empresa-->
            <p>CONTATO:(99)99999-9999</p> 
        </footer>
    </body>
</html>