<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CF Soluções SST</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <div id="corpo">
        <img src="% static '/img/capa.png' %}" alt="capa" width=400 height=160>
        <img src="capa.png" alt="capa" width=400 height=160>
        <header class="text-container">
            <div class="row">
                <div class="logo">
                    
                </div>
                <nav id="menu">
                    <ul id="menu-links">
                        <li class="1">
                            <!--<img src="foto.png" alt="some text" width=40 height=40>-->
                        </li>
                        <li class="nav-home">
                            <a href="#home">Home</a>
                        </li>
                        <li class="nav-quemsomos">
                            <a href="#quemsomos">Quem Somos</a>
                        </li>
                        <li class="nav-servicos">
                            <a href="#servicos">Serviços</a>
                        </li>
                        <li class="nav-contato">
                            <a href="#contato">Contato</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit consectetur quo fuga modi.
            Quod, sapiente mollitia maiores officia, amet velit odio sit maxime delectus possimus porro
            voluptates corporis ab optio!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit consectetur quo fuga modi.
                Quod, sapiente mollitia maiores officia, amet velit odio sit maxime delectus possimus porro
                voluptates corporis ab optio!</p>
    
            <footer>
                <a href="">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a href="">
                    <img src="instagram.webp" alt="capa" width=50 height=50>
                </a>
                <a href="">
                    <img src="whatsapp.png" alt="capa" width=50 height=50>
                </a>
            </footer>
    </div>
</body>

</html>